langchain
langchain-google-genai
langchain_chroma
chromadb
langchain_text_splitters
langchain_community
python-dotenv
colorama
google-cloud-storage
google-api-core
googleapis-common-protos

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server
# tests
httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest
